@{
    ViewBag.Title = "Human Rights Violation Articles";
}

@model HumanRights.ViewModels.ArticleView

<input hidden id="articleId" value="@(Model.Article.Id)"/>

@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(p => p.Article.IsViolation, new { id = "isViolation" })
    @Html.HiddenFor(p => p.Article.Id, new { value=Model.Article.Id})

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="inner cover" role="main">
            <h1 class="cover-heading">@(Model.ArticlesReviewed)/@(Model.TotalArticles) articles reviewed</h1>
            <hr />
            <p class="lead" style="line-height: 1.6">@(Model.Article.Text)</p>
            <hr />
            <p class="lead">Is this article a human rights violation?</p>
            <p>
                <button type="button" class="btn btn-lg btn-success" onclick="answer('NOT a violation')">NOT A VIOLATION</button>
                <button type="button" class="btn btn-lg btn-danger" onclick="answer('a violation')">VIOLATION</button>
            </p>
            <p class="lead">Comments: @Html.TextBoxFor(p => p.Article.Comment, new { style = "color: black;" })</p>
        </main>
    </div>
}

<script>
    function save() {
        $.ajax({
            async: false,
            url: "/Home/SaveChanges?id=" + (document).getElementById("articleId").value
        });
    }

    // Both of these are needed because some browsers will only call functions
    // onbeforeunload, and some will only call functions onunload.
    window.onbeforeunload = save;
    window.onunload = save;

    function answer(buttonValue) {

        (document).getElementById("isViolation").value = (buttonValue === "a violation");

        bootbox.confirm("<div style='color:black'><strong>Submit that this is "
            + buttonValue
            + "?</strong></div>",
            function (result) {
                if (result) {

                    $("#form").submit();

                    //$.ajax({
                    //    url: "/Home/Submit?id=" + (document).getElementById("articleId").value +
                    //        "&isViolation=" + isViolation,
                    //    success: function (result) {
                    //        location.reload();
                    //    }
                    //});
                }
            });
    }
</script>